@model DoctorWeb.Models.Registration_Form

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Registration_Form</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.R_FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.R_LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.R_Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.R_Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.R_State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.R_City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.R_Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.R_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_Email)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.R_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.R_Fields)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_Fields)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.R_Qualification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_Qualification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.R_Specialization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_Specialization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.R_WorkExperience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_WorkExperience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.R_AchievementDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_AchievementDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.R_Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.R_ConfirmPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_ConfirmPassword)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.R_ProfileStates)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_ProfileStates)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.R_JoiningDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_JoiningDate)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.R_OtherDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_OtherDetails)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
